<div class="row">
  <div class="span8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
        
          </h4>
          <small>
            submitted <%= time_ago_in_words(comment.created_at) %> ago by
            <%= comment.user.name %><br/>
            <% if can? :destroy, comment %>
            <%= link_to "Delete", comment_url_helper(comment), method: :delete %>
            <% end %>
          </small>
        </div>
      </div>
  </div>
  </div>

  <br>
  <br>
  <br>
